[2021-11-25 10:31] JaneGodiksen commented on #220
Joana: Change the text in the ICES website: "Guidelines for Exchanges and Workshops" to "Exchanges and Workshops (guidelines and reports)"

[2021-11-25 10:32] JaneGodiksen commented on #220
Joana closes the issue when done!

[2021-11-25 10:34] JaneGodiksen commented on #235
Sometimes the reading line is counting as an annotation. Sometimes the green/red does not work properly.

[2021-11-25 11:01] JaneGodiksen commented on #222
If you include the AQ3 for getting them in the overview, they will also be included in the modal age.
One needs to make two reports and combine how wanted (overview table with results, but all calculations without).

[2021-11-25 11:02] JaneGodiksen commented on #222
We are waiting for WGBIOP. Julie will try and find out if AQ3 are used in assessment.

[2021-11-25 11:04] JaneGodiksen commented on #222
In an exchange some readers will consider an otolith AQ3, while others will consider it AQ1 or AQ2. Important that the ototlih is not completely removed from the analysis in a case where some readers have an age and AQ1/2.

[2021-11-25 11:16] cmspinto commented on #252
[Fecundity and Atresia SmartDots Feedback 2021 BOH.xlsx](https://github.com/ices-eg/SmartDots/files/7602493/Fecundity.and.Atresia.SmartDots.Feedback.2021.BOH.xlsx)

[2021-11-25 12:17] JaneGodiksen opened #253 "Deactivate users"
Users who retire or for other reasons shouldn't be counted on the list of users from a country. We need to be able to deactivate them , so they still are in the system and reports. If deleted, the annotations will be deleted with them.

[2021-11-26 08:18] cmspinto commented on #250
The NAFO areas are part of the vocabulary.
The user can specify in the area type that they are using a NAFO area:
![image](https://user-images.githubusercontent.com/8705477/143549065-9e5e4177-e014-4107-bf79-5fe64fb4f166.png)

Once they are used for the first time the will also be available for the readers expertise.

[2021-11-26 09:06] cmspinto commented on #252
[Fecundity and Atresia SmartDots Feedback 2021_DG.xlsx](https://github.com/ices-eg/SmartDots/files/7607569/Fecundity.and.Atresia.SmartDots.Feedback.2021_DG.xlsx)
[Fecundity and Atresia SmartDots Feedback 2021_EBl.xlsx](https://github.com/ices-eg/SmartDots/files/7607570/Fecundity.and.Atresia.SmartDots.Feedback.2021_EBl.xlsx)

[2021-11-29 08:34] JCoadDavies commented on #222
This is the vocab used in the RBDES. We have no idea how the countries uploading data to the RDBES are using this.
https://vocab.ices.dk/?ref=1682
@pcrjoana  is this the same as that used in SmartDots or are there different versions of the AQ code in ICES vocabs?

[2021-11-29 09:22] cmspinto commented on #252
[Fecundity and Atresia SmartDots Feedback 2021_GniC.xlsx](https://github.com/ices-eg/SmartDots/files/7617064/Fecundity.and.Atresia.SmartDots.Feedback.2021_GniC.xlsx)

[2021-12-14 09:14] cmspinto commented on #233
Image quality can be improved, there is no limit of the size in SmartDots but it is advised to keep the size in a reasonable size.

We advise not above 20MB. We can allow TIFF but it is not advisable because the size will be bigger.

When we made an experience the same picture in JPG and TIFF went from 15MB to 66MB
![image](https://user-images.githubusercontent.com/8705477/145967350-0ab084e4-0f77-

[2021-12-14 09:23] cmspinto commented on #232
Integrate an extra property (with the age) in the app could be a solution but that would limit the reporting functionality.

[2021-12-14 09:30] cmspinto commented on #244
It is possible to delete the samples that you don't have the images to start putting the reading line on the ones you have the image for.

[2021-12-14 09:38] wimallegaert commented on #245
![image](https://user-images.githubusercontent.com/13795097/145972718-c5987118-79ab-40f6-a52b-ad68327c7e0c.png)

[2022-02-03 10:35] kbekaert commented on #248
Event type should be changed to test when it is a test.

[2022-02-03 11:11] JCoadDavies commented on #221
A response has been posted on the recommendation website to WGBIOP. This will need to be taken up again when a case study for SS3 and AEM's happens

[2022-02-03 13:50] JCoadDavies commented on #246
@adriantait Will you be able to update on this before WGSMART on Feb 10th?

[2022-02-03 14:16] JCoadDavies commented on #220
@JaneGodiksen Can you please clarify here why the name needs to be changed. Sorry but i really don't get it. Thanks :-)

[2022-02-03 14:43] adriantait commented on #246
@JCoadDavies I haven't heard anything since our last meeting, but have written to the chair this afternoon.  I should be able to provide an update prior to the 10th :-)

[2022-02-03 15:21] JCoadDavies commented on #246
Thanks :-)

[2022-02-04 08:33] JaneGodiksen commented on #220
@JCoadDavies This is what we agreed on during the WGSMART WebEx-meeting in November. If I recall right, the reason for the change is that both reports and guidelines are found behind the link. And we wanted the most important words to come first.

[2022-02-08 07:53] kbekaert commented on #219
Did we receive any feedback? Can we close this issue?

[2022-02-08 07:56] #214 closed

[2022-02-08 07:58] #148 closed

[2022-02-08 08:01] kbekaert commented on #215
@CindyvanDamme, can you test this issue so that we can close it?

[2022-02-08 08:19] #95 closed

[2022-02-08 08:22] JCoadDavies commented on #220
OK. @pcrjoana Joana is this something you can do?

[2022-02-08 08:23] #41 closed

[2022-02-08 08:28] JCoadDavies commented on #220
@pcrjoana Hopefullly this is clear for you :-)
This webpage https://www.ices.dk/data/tools/Pages/smartdots.aspx
And this Link needs rewording
![image](https://user-images.githubusercontent.com/26571227/152947455-c0001f7b-32af-4c03-ac89-8be543e1b8da.png)

[2022-02-08 08:31] JCoadDavies commented on #157
This is ongoing - now with BIOP 2022 milestone

[2022-02-08 08:36] #219 closed

[2022-02-08 08:42] #251 closed

[2022-02-08 08:51] JCoadDavies commented on #194
I think we need to redo the setup user expertise page once it is updated with the new parameters for the reader ranking/modal age calculation

[2022-02-08 08:56] JCoadDavies commented on #193
I think we need to redo the setup user expertise page once it is updated with the new parameters for the reader ranking link to
https://github.com/ices-eg/SmartDots/issues/194

[2022-02-08 09:04] CindyvanDamme commented on #215
Tested, data download is working

[2022-02-08 09:06] JCoadDavies commented on #156
It would be good to have an expert opinion on this and take it up at the Q2 meeting in April. At that time we should be planning for the developments on the maturity and ichthyoplankton modules in the software.

[2022-02-08 09:06] #215 closed

[2022-02-08 09:22] JCoadDavies commented on #145
https://github.com/ices-eg/SmartDots/issues/202
https://github.com/ices-eg/SmartDots/issues/96
https://github.com/ices-eg/SmartDots/issues/202

[2022-02-08 09:24] JCoadDavies commented on #49
Q1 meeting 2022 - NEED TO DECIDE UPON

[2022-02-08 09:26] JCoadDavies commented on #217
Q1 2022 NEED TO DECIDE ON THIS

[2022-02-08 09:28] JCoadDavies commented on #218
NEED TO DISCUSS THIS at Q1 2022 meeting

[2022-02-08 10:37] kbekaert commented on #197
@CindyvanDamme or @UlrikaBeier, can you please test this with the elasmobranch exchange? You have stagers in there and the event is still open. Can you see their annotations? Thanks!

[2022-02-08 10:42] #199 closed

[2022-02-08 10:46] UlrikaBeier commented on #197
Hallo Karen,
I'm a bit confused because I can see no Maturity events in the list of events on SmartDots (if that is what you mean?), only Ageing events. At the moment, I can see the annotations of the Dutch readers on the Raja ageing events (405, 408).

Greetings,
Ulrika

From: kbekaert ***@***.***>
Sent: 08 February 2022 11:38
To: ices-eg/SmartDots ***@***.***>
Cc: Beier, Ulrika ***@***.***>; Men

[2022-02-08 10:54] kbekaert commented on #197
Tested with ray maturity exchange, event 398. Karen is event coordinator, Cindy is maturity coordinator for the Netherlands. Cindy could not see the annotations of Greenway and Snaar. @cmspinto, can you fix this?

[2022-02-08 10:57] kbekaert commented on #213
The option is there and the strata is updated. At the moment no report for area code and quarter.

[2022-02-10 07:54] JaneGodiksen commented on #212
I think a stress test makes sense when we have some major changes that can affect the speed, but not necessarily to do it regularly. And I think twice a year as suggested in the email seems to be too much and too much effort to put into it. But if it is easily done, then this could be a simple task for one of the members of WGSMART to do - and sometimes it is easier to get things done if it is pla

[2022-02-10 08:22] JaneGodiksen commented on #248
It is up for discussion at the meeting Q1 22 who can set the type to test.
At the moment a coordinator need to start the whole thing, and then hand it over to another coordinator. I think it need to stay that way. It is the coordinators responsibility what is happening in SmartDots. If everyone at an institute want to try, then the institute should get their own version - all is available for it.

[2022-02-10 08:30] JaneGodiksen commented on #115
It was my suggestion, and I see now that with this opportunity, we risk that coordinators add readers without adding species. I don't know if this is a real issue.
It might also be too much to add another level under Expertise - "Not reading" or "coordinator" or "totally incompetent" :), though it would make some kind of sense.

[2022-02-10 08:32] wimallegaert commented on #232
feedback meeting:

![image](https://user-images.githubusercontent.com/13795097/153368196-c217c9a7-a685-4021-9ab7-8ba40a70d8d3.png)

[2022-02-10 08:34] wimallegaert commented on #233
Feedback meeting

![image](https://user-images.githubusercontent.com/13795097/153368413-ffa27d05-dfc3-405f-957e-8931bc049c82.png)

[2022-02-10 08:52] JaneGodiksen commented on #97
Comment for Q1 meeting:
For agreement it is suggested three readers, and only two from one institute. How about agreement is done during a workshop? Only otoliths that are agreed by the participants can be included?
Method: We need to cover the methods used in the exchanges.

[2022-02-10 09:59] pcrjoana commented on #220
It is! I'm sorry, I forgot about this. I'll change this and close the issue when it's done. :-)

[2022-02-10 10:16] JCoadDavies commented on #212
Needs to be tested by a developer - Kevin and Wim have a tool to do this. To be done twice a year

[2022-02-10 10:16] #212 closed

[2022-02-10 10:18] JCoadDavies commented on #248
Karen will do this.

[2022-02-10 10:18] #248 closed

[2022-02-10 10:29] JCoadDavies commented on #115
We will need to come back to this when the new script is in place - agreed at Q1

[2022-02-10 10:33] #49 closed

[2022-02-10 10:39] JCoadDavies commented on #217
Agreed at the meeting to push this into the future when we have more time and resources!

[2022-02-10 10:41] JCoadDavies commented on #218
We use the freshwater dot and call "Freshwater/Absorbed". This will come with the new release

[2022-02-10 10:49] JCoadDavies commented on #96
Clear instructions in the manual and this point will be included in the newsletter

[2022-02-10 16:48] JCoadDavies commented on #145
Q1 meeting 2022 "This should be added to both manuals that a coordinator should inform the readers of the birthday of the fish and that the amount of dots will be the age"

[2022-04-08 13:12] kbekaert opened #254 "Make download available of results tables"
I was coordinator of Event 280 (exchange mackerel otoliths) and we had 37 participants so it was so much information to show in the tables obtained in the SmartDots report. This information did not have enough space in the tables and was showed vertically, which was difficult to follow.

[2022-04-08 13:17] kbekaert opened #255 "Vocab for edge type."
Do we have a vocab for this and should the vocab be expanded. Suggestion from Daniel Ricard (NAFO): narrow hyaline, wide hyaline, narrow opaque, wide opaque and crystalized

[2022-04-08 13:27] kbekaert commented on #255
Idea is to reject this issue to not complicate the interpretation of the edge.

[2022-04-08 13:28] kbekaert opened #256 "who will add ichthyoplankton expertise"
Who will be the contact person for development of the eggs and larvae modules, the link between WGALES, WGSMART and WGBIOP ?

[2022-04-08 13:31] kbekaert opened #257 "Adding more filters on the user expertise page"
Filters for egg and larvae should be added. Filters for age and maturity are there, but too much information is given for one person. Filters for egg and larvae should be added.

![image](https://user-images.githubusercontent.com/25844933/162447830-6a0fc070-84ed-420a-84d3-a37ddd9d70ae.png)

[2022-04-08 13:44] kbekaert opened #258 "Develop a report for larva events"

[2022-04-08 13:49] kbekaert opened #259 "User handbooks"
Newer versions on top.
Something with a new library. Check in 2022 to make sure it will be perfect then!

[2022-04-08 13:49] kbekaert commented on #259
Need to contact the librarian at ICES and ask when the new handbooks will be available.

[2022-04-11 11:05] JCoadDavies commented on #241
The manual was sent to Germany and uploaded to BIOP Sharepoint. No feedback received to date so we have no idea if anyone has actually used it.

[2022-04-11 11:06] JaneGodiksen commented on #241
I can follow up by sending an email to Uwe and ask.

[2022-04-20 11:40] JCoadDavies commented on #97
[SMARTDOTS reference collection guidance draft.docx](https://github.com/ices-eg/SmartDots/files/8521168/SMARTDOTS.reference.collection.guidance.draft.docx)

[2022-04-20 11:41] JCoadDavies commented on #97
Mandy, Adrian and Gudrun unable to attend Q2 2022 WGSMART meeting so a meeting needs to be organised to plan next steps

[2022-04-21 09:22] kbekaert opened #260 "Bug in SmartDots file list."
The status and number of annotations is not shown correctly when loading the initial list. The fixed reading line should not be taken into account.

When selecting a single file the information is corrected for this file.

This issue has been fixed once but seems to be returned . See workshop 393.

[2022-04-21 09:38] kbekaert commented on #254
tables are created in separate csv files in the R-script. They should be made available to the event coordinator. Script will be adapted to send also the separate tables (= module folder).

[2022-04-21 09:39] JCoadDavies commented on #254
we will add Come to this also

[2022-04-21 09:40] kbekaert commented on #256
Matthias, Basti and Cindy to be contacted

[2022-04-21 09:46] kbekaert commented on #247
Carlos asked to Mehdi several times, but no answer was given. Carlos follows up.

[2022-04-21 09:51] JCoadDavies commented on #241
Jane to upload the danish and german versions here and then we close the issue

[2022-04-21 09:52] JaneGodiksen commented on #241
[SmartDots_Benutzerhandbuch kurz_DTU Aqua_übersetzt Okt 2021.docx](https://github.com/ices-eg/SmartDots/files/8529854/SmartDots_Benutzerhandbuch.kurz_DTU.Aqua_ubersetzt.Okt.2021.docx)

[2022-04-21 09:52] JaneGodiksen commented on #241
[Brugermanual oversat SmartDots okt 2020_DTU Aqua.docx](https://github.com/ices-eg/SmartDots/files/8529857/Brugermanual.oversat.SmartDots.okt.2020_DTU.Aqua.docx)

[2022-04-21 09:55] JCoadDavies commented on #238
Comment from Q2 meeting: will also require changes to the WebAPI and the data should be stored in the database.
Could be a better idea to add a different type of marker

A new release will not happen until we have the new modules developed. Maybe some small things can be added, like this. Wim to discuss internally at ILVO

[2022-04-21 09:58] JCoadDavies commented on #235
There appears to be a bug which maybe event specific. Julie to comment more here

[2022-04-21 09:59] JCoadDavies commented on #229
Need to wait until new module is developed

[2022-04-21 09:59] JaneGodiksen commented on #241
German version added to the ToR F folder under WGBIOP 2021 working documents (same place as the Danish version)

[2022-04-21 09:59] wimallegaert commented on #235
related to #260

[2022-04-21 09:59] #241 closed

[2022-04-21 10:08] JCoadDavies commented on #245
Karen to make contact and explain that we do not have the resources for this right now so we put it on hold.

[2022-04-21 10:19] JCoadDavies commented on #156
This needs to be taken up in the project development. Maria Korta will lead the maturity development.
WGBIOP presentation. https://community.ices.dk/ExpertGroups/WGBIOP/_layouts/15/start.aspx#/2019%20Meeting%20docs/Forms/AllItems.aspx?RootFolder=%2FExpertGroups%2FWGBIOP%2F2019%20Meeting%20docs%2F05%2E%20Presentations&FolderCTID=0x01200060C2B7465D2FC54C92E5F6D41FE71024&View=%7BFC7EFCDB%2DE0E9%2D48B

[2022-04-21 12:21] JCoadDavies commented on #235
Tested on event 2020 Irish Sea Herring (EventID:268).  For the reader the colour indication worked fine as did the count of number of annotations (the pinned line was not included in the count).
For the event coordinator the pinned line was not included in the count of number of annotations BUT the count only appears once the file is chosen in the files panel.

[2022-04-21 12:33] JCoadDavies commented on #260
see comment in #235

[2022-04-22 08:34] JaneGodiksen commented on #255
Email to Daniel Ricard on 22.04.2022
Dear Daniel,
Your question on including more edge types in SmartDots was discussed at the WGSMART Q2 meeting.
As you know, at the moment we only have the options of choosing a hyaline edge or opaque edge.
We believe it would be too confusing for many readers if they can choose between too many categories that are not something that will be used in their standar

[2022-04-22 08:34] #255 closed

[2022-05-09 08:46] JCoadDavies commented on #247
As the data in the reports is anonymized then there is no issue. Stock assessors can tell from the anonymized code what country the reader is from and that should be enough information for them.
There is an updated ICES Data Policy which needs to replace the 2016 version which is currently in the report and data download zip folders @cmspinto  Can you update please?
[ICES-Data-policy 2021.pdf](htt

[2022-05-10 19:03] neil-ices-dk commented on #247
@cmspinto please use this link https://doi.org/10.17895/ices.pub.8883

[2022-08-01 11:31] JCoadDavies commented on #191
[Egg and Larvae SmartDots Feedback 2020.xlsx](https://github.com/ices-eg/SmartDots/files/9233529/Egg.and.Larvae.SmartDots.Feedback.2020.xlsx)

[2022-08-01 11:33] JCoadDavies commented on #191
[Egg and larval events on SmartDots Aug2020.docx](https://github.com/ices-eg/SmartDots/files/9233540/Egg.and.larval.events.on.SmartDots.Aug2020.docx)

[2022-08-11 07:24] kbekaert commented on #188
Hi @pcrjoana and @cmspinto, we are preparing the project meeting for the development of the maturity and eggs and larvae modules in the software and ran into this issue which is not updated yet on the SmartDots webpage. There still are some very weird combinations possible. Is it possible to update this with the list that was made during WGBIOP? Thank you!!!
[SmartDots_PreparationMethods_FINAL (1)

[2022-08-23 06:55] JaneGodiksen opened #263 "Debug R-code for Inter-reader bias test"
During the WKARBLUE3 report publication it was clear that there was an error in the R-script and the results were very different from the Guus Eltink results.
If otoliths had not been read by readers, they were still included in the analysis and it shifted the results.
Patricia is in the process of fixing the problem for the WKARBLUE3 report and for future reports.
Milestone should be soon. Patric

[2022-08-25 12:54] kbekaert opened #264 "Debug R-code for distance graphs"
Units seem wrong on the distance graphs

![image](https://user-images.githubusercontent.com/25844933/186670216-09dfa2ba-fa43-42e7-b1dd-ec49f5393d39.png)

[2022-08-25 13:03] JCoadDavies opened #265 "Changing scale on images in a public event - it is possible to do this. Tested on ID245"

[2022-08-25 13:16] kbekaert opened #266 "changing the Type of events"
When picking a "type of event", change "to be endorsed" into "WGBIOP". The endorsing by the WGBIOP chairs is not really working.

[2022-08-26 09:24] kbekaert commented on #190
@cmspinto, there is a second issue here that we cannot see if the experience relates to age or maturity. We need a column sample type so we know what to pick for maturity or age.

[2022-08-26 09:41] kbekaert opened #267 "Dots counted twice"
WKIDCLUP2 - There was the issue that some of the dots were counted twice in the table, hence the total number of myotomes shown and saved was much higher than counted, this happened several time for different participants

[2022-08-26 09:41] kbekaert opened #268 "Order of length and myotome annotations by type"
WKIDCLUP2 - Length and myotome annotations (lines and dots) should be ordered by their type; Suggested order: myotome; myotomes pylorus-pelvic; Total length; Stdt. Length; head length. It was considered easier to start with myotome count and then the length measurements. Otherwise myotomes would be difficult to recognize under the lines of the measurements.

[2022-08-26 09:41] kbekaert opened #269 "Automatic open next image when done with the previous"
WKIDCLUP2 - Scrolling between the images was considered to be too time consuming in particular when this had to be done after each annotation from the first sample down to the next in the row. It would be preferable if once an image has been annotated, the program either goes directly to the next one or when going back to the overview, the position would be at the last one annotated.

[2022-08-26 09:42] kbekaert opened #270 "Option to delete single dots"
WKIDCLUP2 - Would be useful to have the opportunity to delete single myotome dots, instead of deleting all and having to start all over again. In some cases, the data were not saved, so annotations had to be done again. Readers considered it preferable to be able to download their own annotations  instead of having to write them themselves down on paper for later checking of own input.

[2022-08-26 09:42] kbekaert opened #271 "Measurement in mm not pixels"
WKIDCLUP2 - It would be helpful if the measured length in mm would still be there if a reader returns to a specimen after saving the annotation. Now only the number of pixels remains when you return, which is difficult to convert to mm as all larvae have different scales

[2022-08-26 09:42] kbekaert opened #272 "Should all fields be filled?"
WKIDCLUP2 - Not clear if we should fill in all the fields for all larvae.

[2022-08-26 09:42] kbekaert opened #273 "Image quality guidelines needed"
WKIDCLUP2 - Guidelines are necessary to have the same quality images. At the moment the quality is very different between the samples and images (this is more for WGBIOP)

[2022-08-26 09:42] kbekaert opened #274 "Uniform data format"
WKIDCLUP2 - data format of larval overview pictures not uniform, difficult to open (.tiff)

[2022-08-26 13:57] JCoadDavies commented on #235
Julie will test with another event on Sept 1st

[2022-08-30 09:54] JCoadDavies commented on #246
Can we change it to Type of event = testing?

[2022-08-30 10:05] JCoadDavies commented on #253
We need to know who the people are before Carlos can do this. Annelie, can we add a point to the newsletter asking country coordinators to send a message in the user feedback page telling us who from their country is not an active SmartUser....?

[2022-08-30 10:10] JCoadDavies commented on #193
Are these 2 links updated and ready to allow country coordinators to enter their reader
 info needed to work with the script?

![image](https://user-images.githubusercontent.com/26571227/187410602-2991f004-1bae-47d0-a2e1-712fa318d2e2.png)

[2022-08-30 10:15] JCoadDavies commented on #181
This is a little old but is relevant now with the new modules
@cmspinto see questions above - can you please answer? :-)

[2022-08-30 10:22] #187 closed

[2022-08-31 07:17] cmspinto commented on #150
I can make this changes but need to agree with @kevinatilvo.
The current API receives a list of Annotations to change, it then deletes these annotations and creates them again:
![image](https://user-images.githubusercontent.com/8705477/187616381-8637b09c-27be-4450-84fc-2904319484e4.png)

Issue is that the Event Coordinator or the Event Delegates have access to all the annotations of the readers.
W

[2022-08-31 07:40] cmspinto commented on #190
Solved the User name added to the table:

![image](https://user-images.githubusercontent.com/8705477/187620999-b945b7ef-02fc-47c8-bc97-bc5801c3e588.png)

About the Age or Maturity, that can only be solved after issue #188  is solved.

[2022-08-31 07:46] cmspinto commented on #193
Sorry, don't understand the issue here, might need a bit more of description in these items.

I think we can improve the labels of the links, in these case the labels are customized for Age reading but the expertise is currently also being used by the maturity community.

[2022-08-31 07:48] cmspinto commented on #257
I think that the Eggs and Larvae community are not using the expertise.
This is something that could be discussed in WGALES.

[2022-08-31 09:32] cmspinto commented on #247
Done, new data policy is now in the download and the disclaimer now has the link to:  https://doi.org/10.17895/ices.pub.8883

[2022-08-31 09:43] cmspinto commented on #253
Would adding a retired or not available to the user help?

[2022-08-31 09:50] cmspinto commented on #181
Need some more info about OWR, OSR. Currently none of the parameters are being passed to the software.
I don't think this is either setup in the event, could we talk about this in WGSMART?

[2022-09-01 07:17] cmspinto commented on #187
It's done but not put in production, it will be available when the changes to the age readers expertise are finished.

[2022-09-01 09:19] cmspinto commented on #188
The users expertise will look like this:
![image](https://user-images.githubusercontent.com/8705477/187879321-f21e0234-df42-4f0b-839d-df88ef75608f.png)

[2022-09-02 09:55] JCoadDavies commented on #181
OWR = Otolith Winter Ring
OSR = Otolith Summer Ring (I have never know this to be used in SmartDots - or what countries are using it for what species?)

My reference to the new modules is because I guess we will need to add e.g. larvae, gonad, eggs or something more specific for each

Lets's talk about it on the 8th

[2022-09-02 10:00] JCoadDavies commented on #253
That sounds goo
@AnnelieH - can you add this to the next newsletter please :-)

[2022-09-02 10:41] cmspinto commented on #188
Yes, thanks I realized that on time :)

Have also changed the pages of List age readers:
![image](https://user-images.githubusercontent.com/8705477/188121409-576ca88f-fd08-4614-867f-d1df89ce3462.png)

Can the users input in the add users expertise the number of years, first year?

Like this:
![image](https://user-images.githubusercontent.com/8705477/188122703-f2203eb5-0485-43c3-a0a6-7d7bfab5c1bb.p

[2022-09-02 12:05] JCoadDavies commented on #188
This I am not sure about and we should probably talk about on the 8th.
First Year & Number of Years Reading - Are these for reader ranking and the multimodal age approach? I actually thought we needed more info for that approach...
Are the fields mandatory for each expertise?

[2022-09-02 12:07] JCoadDavies commented on #247
Thanks - Will close the issue

[2022-09-02 12:07] #247 closed

[2022-09-02 12:18] JCoadDavies commented on #194
linked to
#188

Need to talk about on 8th Sept meeting

[2022-09-02 12:24] JCoadDavies commented on #190
I think something went wrong when you did this. I tried to add a reader to ID450 yesterday by clicking on the little green "add user" button, it told me the "user has been successfully added to the event" BUT they had not been added. To add the user I needed to enter the email address of the user in the box

[2022-09-02 12:37] JCoadDavies commented on #235
Tested again in event ID450 and the same happened as with event ID268

[2022-09-05 07:45] cmspinto commented on #188
This is the expertise we agreed would be mandatory to do the  reader ranking and the multimodal age approach.

![image](https://user-images.githubusercontent.com/8705477/188396029-1eb0418d-7b8b-48d2-b234-a21f1f72ce83.png)

[2022-09-05 08:20] cmspinto commented on #188
Sorry, you were right Julie,

It was missing Mean Otoliths:

![image](https://user-images.githubusercontent.com/8705477/188402518-c856ebdd-305f-45e0-87e1-48eaf7d91d78.png)

[2022-09-05 08:46] cmspinto commented on #190
Have a small comment here, have included Sample Type and Preparation method in the list of the Age readers for that species.
But shouldn't we filter for **sample type = otoliths or scales** in the edit event page of the **age reading** and filter for **Sample Type = Gonads** in the edit page of the **maturity**?

![image](https://user-images.githubusercontent.com/8705477/188407971-05414448-a300-48

[2022-09-05 08:56] kbekaert commented on #190
Hi @cmspinto, scales and otoliths are sometimes used in the same event, so I guess this would not be possible anymore when you filter for sample type on the "edit event" page? However, what would be really good is that when you choose "age reading" in "purpose of the event", you only get age readers (and not maturity stagers) in the list of age readers.  Is that a possibility?

[2022-09-05 09:32] JCoadDavies commented on #190
@cmspinto
I tested again in ID 449 with User Lundgaard and the same issue arose

[2022-09-07 11:32] AnnelieH commented on #253
Yes I can add to the next newsletter.

[2022-09-07 13:45] wimallegaert commented on #150
@cmspinto: the software sends only the modified annotations to the Web API (UpdateAnnotations).

[2022-09-07 13:51] JCoadDavies commented on #246
Those with ADMIN rights to SmartDots can change "Type of Event"

[2022-09-07 13:58] wimallegaert commented on #97
Question: in order to arrive at a reference collection, both samples and annotations that qualify for the reference collection must be able to be marked. In which software is this functionality best added? The web application of the SmartDots software?

[2022-09-07 14:36] UlrikaBeier commented on #97
As I understand it, you (Wim) mean samples in existing events on SmartDots@ICES, could be marked e.g. after a completed workshop as being qualified for a reference collection?
(Whether it is suitable in the web application or in the SmartDots software, I cannot judge.)

FYI - A small group formed at WKARP2 have produced an example of a reference set from WKARP2 (event 402), where a subset of the s

[2022-09-08 09:07] #150 closed

[2022-09-08 09:14] kbekaert commented on #188
@cmspinto bug fixing needed

[2022-09-08 09:29] kbekaert commented on #97
Wish list is needed from WGBIOP.

[2022-09-08 09:41] kbekaert commented on #157
Internal key (same as in RDBES) from the institute is needed to connect Smartdots db to RDBES or datras

[2022-09-08 09:47] kbekaert commented on #235
Number of annotations is not loaded when the event is first opened (tested with event 457 and 456). @cmspinto bug fixing needed.

[2022-09-08 09:49] #260 closed

[2022-09-08 09:54] #193 closed

[2022-09-08 09:56] kbekaert commented on #194
@cmspinto ask Neil to put a link in the Smartdots homepage for SID

[2022-09-08 09:58] kbekaert commented on #257
@kbekaert, ask WGALES if they want to use the expertise

[2022-09-08 10:10] kbekaert commented on #181
discuss at next meeting

[2022-09-08 10:11] kbekaert commented on #156
related to fecundity and atresia

[2022-09-08 10:11] #127 closed

[2022-09-09 07:17] cmspinto commented on #194
Put a link to SID  in the smartdots homepage: [https://www.ices.dk/data/tools/Pages/smartdots.aspx](https://www.ices.dk/data/tools/Pages/smartdots.aspx)

![image](https://user-images.githubusercontent.com/8705477/189293542-aeaf509b-c874-4a5d-a295-64cfb877ece2.png)

[2022-09-09 08:04] neil-ices-dk commented on #194
@kbekaert i have added the link, however i would suggest you think about splitting the links into more than one menu as it is getting quite long;
![image](https://user-images.githubusercontent.com/23527005/189302382-a5838d63-f5f5-47d3-8c90-810602a87efd.png)

and example of what i mean here:
![image](https://user-images.githubusercontent.com/23527005/189302524-e41e5e93-4f00-458b-8c5b-8ec33cdb92b0.p

[2022-09-09 13:58] kbekaert opened #275 "Clarification needed for adding user information"
On the SETUP USER EXPERTISE FOR YOUR COUNTRY the information is for a specific species stock/area, sample type, preparation method. On the ADD NEW USER -  the information is for a specific user.

[2022-09-09 14:04] kbekaert commented on #266
@cmspinto, Hi Carlos, we discussed this briefly yesterday. Can you change this in the Web application? Thank you!

[2022-09-12 09:08] JCoadDavies commented on #246
Changed to "Test" event

[2022-09-12 09:08] #246 closed

[2022-09-15 07:27] cmspinto opened #276 "SmartDots - Suggestion"
Name: Florian Berg
Email : [florian.berg@hi.no](mailto:florian.berg@hi.no)
Role : Event coordinator
Issue : Suggestion
Comment :
SmartDots become very slow when the images are too large. For the current event 448 we have uploaded images with the resolution 5388x3619 with an average size of 1.5MB and it takes more than 30 sec to load the image. Also annotating the image is therefore very slow. This

[2022-09-20 07:44] wimallegaert commented on #238
@JCoadDavies , @kbekaert :
What is the desired functionality? Change functionality for non-counting marks: non-counting marks can be placed everywhere in the image (should not be on a line)?

[2022-09-20 07:45] wimallegaert commented on #240
@JCoadDavies, @kbekaert, @JaneGodiksen  : could you provide the text (essential info) to show in the popup?

[2022-10-04 08:53] JaneGodiksen commented on #245
Note from Lise Heggebakken during WGBIOP 2022

Species where age is used in assessment of deepwater species:
•	Ling (4 bestander i ICES, noen bruker allerede alder i assessment)
•	Greater argentine (4 bestander i ICES, noen bruker allerede alder i assessment, andre ønsker å begynne å bruke etter hvert som tidsserien blir lengre)
•	Tusk (5 bestander i ICES, noen bruker allerede alder i assessment)

[2022-10-05 10:03] kbekaert opened #277 "Send automatic mail with link to the guidelines when a coordinator sets up an event"
When a coordinator creates a new event, it would be really helpful if a mail is sent automatically to the coordinator with a link to the guidelines for setting up exchanges and workshops.
(feedback from WGBIOP)

[2022-10-06 12:17] JaneGodiksen opened #278 "Instructions / Manual"
"Fixing the reading line: there is limited information in either of the manuals regarding fixing the reading line, we have an internal SOP that expands on this from our experience and are wondering if something similar could be inserted in the manuals.
Helen McCormic

[2022-10-06 12:18] JaneGodiksen commented on #278
Comment from Helen:
 Cited from internal SOP:
1.1.1.	Open smartdots app, enter your token and pick your event.
1.1.2.	As the delegate/event manager you must fix the reading line to each image. That line will be the same for each reader to ensure consistency of ageing process. The reading line should start in the centre of nucleus. The reading line can be adjusted to the shape of otolith; it does n

[2022-10-21 12:54] JCoadDavies opened #279 "SmartDots Dataflow"
Dataflow needs a final check from WGSMART before publishing

[2022-10-21 12:54] JCoadDavies commented on #279
[DataFlowSmartDots-1.pdf](https://github.com/ices-eg/SmartDots/files/9839108/DataFlowSmartDots-1.pdf)

[2022-10-24 07:33] JaneGodiksen opened #280 "Output - Error matrix table (AEM)"
The calculations and table layout need to be checked in the script

[2022-10-24 07:34] JaneGodiksen opened #281 "Instructions in manual on pinning the annotation line"
Fixing the reading line: there is limited information in either of the manuals regarding fixing the reading line

Suggestion (cited from internal SOP):
x Open smartdots app, enter your token and pick your event.
x As the delegate/event manager you must fix the reading line to each image. That line will be the same for each reader to ensure consistency of ageing process. The reading line should sta

[2022-10-24 07:52] JaneGodiksen opened #282 "Inter-reader-bias test"
It was been identified the need to review the inter-bias reader test. The results from the Smartdots report, produced by the R-script code, are different from the ones produced with the Eltink spreadsheet. This is already included in the tasks to be conducted in the revision of the R-script reporting (by the SmartDots team).

[2022-10-24 07:54] JaneGodiksen opened #283 "Names of the video tutorials are not always intuitive. They are listed in playlists if one knows how to navigate YouTube, but for those not finding the playlists, it is difficult. F.ex. SmartDots Software Setup is not installation of SmartDots, but how to find the way around using the software. Change name of videos"

[2022-10-24 07:55] JaneGodiksen opened #284 "Setting up event"
When a coordinator creates an event, it would be helpful if an email is automatically sent to the event coordinator with the guidelines for setting up exchanges and workshops.
Karen Baekert

[2022-10-24 07:58] JaneGodiksen commented on #284
Exchange or Workshop. Not to be sent when a test is set up.
Both guidelines and checklist needs to be sent.

[2022-10-24 08:01] #278 closed

[2022-10-24 08:01] JaneGodiksen opened #285 "Software interface - image rotation"
It would be nice to have the facility to rotate images on Smartdots. (When doing the last Horse mackerel image exchange many of the uploaded images were orientated differently to the way some of the readers read them normally.)
Helen McCormic

[2022-10-24 08:04] JaneGodiksen commented on #285
Can be done in the software easily. But if it needs to stay rotated, and stored like this in the database, then it is much more work.
Wim will have a look at what makes most sense regarding measurements etc.

[2022-10-24 08:05] JaneGodiksen commented on #285
Milestone Q4 for checking possibilities

[2022-10-24 08:05] JaneGodiksen opened #286 "Setting up event"
Is there a maximum number of images in an event?
Helen McCormic

[2022-10-24 08:07] JaneGodiksen commented on #286
No, there is no maximum number.
Jane answers Helen.

[2022-10-24 08:08] JaneGodiksen opened #287 "Measurement tools"
Tools are confusing and unintuitive. For fecundity exercises, tools should have explanatory labels .
Fecundity Maria Korta

[2022-10-24 08:10] JaneGodiksen opened #288 "CV table"
In the CV table for advanced readers (WKARP2), there are percentages in the column 'All' but no percentages in the columns of the readers. It says in the table text that the 'All' column should contain 'CV of all advanced readers combined per modal age'. The wording (i.e., 'combined') seems unclear, and also does not explain where the percentages in the 'All' column come from, as there are no perc

[2022-10-24 08:11] JaneGodiksen commented on #288
We need to check if this is in all reports.
Patricia will check.

[2022-10-24 08:12] JaneGodiksen opened #289 "Areas/stocks missing"
As coordinator of the 423 WKARCM2_Otolith Exchange 2022 event, I would like to point out that the biggest problems I have encountered are mainly due to the fact that it is the first time I have used the platform, I have had quite a few problems but they have been due to this, to lack of knowledge in handling. But I want to thank the enormous help that Carlos Pinto has given us. The only comment is

[2022-10-24 08:16] JaneGodiksen commented on #289
These areas are not ICES-areas, and some overlap with ICES which makes it difficult.
We can facilitate areas, but not stocks.
This can be closed, as the areas has been included.

[2022-10-24 08:16] #289 closed

[2022-10-24 08:16] JaneGodiksen opened #290 "Inter-reader-bias test"
It was been identified the need to review the inter-bias reader test. The results from the Smartdots report, produced by the R-script code, are different from the ones produced with the Eltink spreadsheet. This is already included in the tasks to be conducted in the revision of the R-script reporting (by the SmartDots team).
Patricia

[2022-10-24 08:23] JaneGodiksen opened #291 "Colour of readers for discussion"
When viewing multiple readers annotations on an image for discussion purposes it is very difficult to follow which annotations belong to which readers when the colours of the dots assigned to a reader change when a second (and more) readers annotations are selected for viewing with the other annotations that were previously selected. Is it possible to assign dot colours to a reader and use them co

[2022-10-24 08:28] JaneGodiksen opened #292 "Larvae expertise"
It is possible to add larvae expertise to a reader, however why do I not see this in the overview expertise table or the download of the expertise table? When will it be possible to add expertise level on eggs, and fecundity/atresia?

When setting up a larvae event only a list of age readers is given to choose from. Larvae can be added as expertise to readers, so why is there no larvae readers lis

[2022-10-24 08:28] JaneGodiksen commented on #292
Done.

[2022-10-24 08:28] #292 closed

[2022-10-24 08:29] JaneGodiksen opened #293 "Freshwater/saltwater missing from report"
There is no information about freshwater and saltwater age in the report or I can not "find" this result. Only available summarized age for a particular fish. For anadromous fish it is crutial. Maybe it is not easy to extract the information.
Sent by Adam Lejk (adam.lejk@mir.gdynia.pl)

[2022-10-24 08:29] #293 closed

[2022-10-24 08:29] JaneGodiksen opened #294 "Area information"
From WKMACHIS (Workshop on Mackerel, Horse Mackerel and Hake Eggs Identification and Staging) on sample information: instead of given FAO/ICES area location information only, which not everyone knows by heart, a more explicit information on the catch location would be very helpful.
Sent by Matthias Kloppmann (matthias.kloppmann@thuenen.de)

[2022-10-24 08:32] JaneGodiksen commented on #294
Map?
Add link to ICES vocab.

[2022-10-24 08:53] JaneGodiksen opened #295 "Stresstest SmartDots (slow when images are large)"
Comment by Florian Berg
SmartDots become very slow when the images are too large. For the current event 448 we have uploaded images with the resolution 5388x3619 with an average size of 1.5MB and it takes more than 30 sec to load the image. Also annotating the image is therefore very slow. This is independent of the local internet connection. One suggestion would be either to define a maximum size

[2022-10-24 08:55] JaneGodiksen commented on #295
We don't know what it is that causes slow upload, but when testing there is no problem.
We can do a stresstest again.

[2022-10-24 09:00] JaneGodiksen commented on #295
Do we need a maximum size/resolution?
Maybe add to the manual an optimal size/resolution? Max 5 mb if wait for loading is to be 2-3 sec.
Manual to be updated when stresstest has been done. Wim has a note that one image starts loading when you annotate the previous.
Offline version will sort this completely.

[2022-10-24 09:02] JaneGodiksen commented on #295
@wimallegaert please involve Côme on the stress test.

[2022-10-24 09:10] JaneGodiksen commented on #295
Possibilities to dowload all images at once

[2022-10-24 09:11] JaneGodiksen opened #296 "Quality of images"
Comment from Erlend Langhelle (otolith reader from Norway).
The otoliths from area IVb had extreme amount of bubbles in the epoxy, which made it very difficult to place the annotations, as the bubbles made shades on the rings. There should be a quality expectations for images used in exchanges, as we spend much time on this. We are not used to reading otoliths from images, so it is extra important

[2022-10-24 09:13] JaneGodiksen commented on #296
Goes into the new guidelines for taking images and WGBIOP.

[2022-10-24 09:13] #296 closed

[2022-10-24 09:14] JaneGodiksen commented on #265
YOu can do changes, but it is not stored in the database.

[2022-10-24 09:17] JaneGodiksen opened #297 "Delete/hide public events"
Too confusing with too many public events. they are easily made again.

[2022-10-24 09:23] JaneGodiksen commented on #256
WGALES needs to decide if they want to work with country coordinators. Then maybe updates on the database.

[2022-10-24 09:26] JaneGodiksen commented on #263
WGBIOP 2023:
It was been identified the need to review the inter-bias reader test. The results from the Smartdots report, produced by the R-script code, are different from the ones produced with the Eltink spreadsheet. This is already included in the tasks to be conducted in the revision of the R-script reporting (by the SmartDots team).

[2022-10-24 09:30] #235 closed

[2022-10-24 10:04] neil-ices-dk commented on #279
thanks Julie - if you have comments just put them here on a post it on the pdf versio and then we'll have a look. I'm in the office tomorrow (Tuesday), so i can pop by if there is a need for a chat.

[2022-10-24 12:33] wimallegaert opened #298 "Research on best file size, type, quality, ... integrate results in manual"
Set-up a test event for performance and quality testing of the images. List of samples linked to the same images in a different resolution, file format, quality, ....
Compare file size, response time, ...
Use results of the tests for the guidelines on the pictures in the web application manual

[2022-10-24 12:36] wimallegaert opened #299 "Optimize preloading of images in SmartDots software"
In the current version the image linked to the next sample is automatically preloaded (and stored on the local hard drive).

It could be useful to integrate an option so the user can decide to preload all images from the event at once. The user should be informed about the size of the download. There should also be an option to delete the downloaded images (or access the directory).
This functiona

[2022-10-24 12:38] wimallegaert commented on #299
linked to [https://github.com/ices-eg/SmartDots/issues/298](url) and [https://github.com/ices-eg/SmartDots/issues/295](url)

[2022-10-24 14:42] JCoadDavies commented on #97
Notes from WKARP2 which were added to by WGSMART

[Plaice reference collection event to BIOP_WGSMART.docx](https://github.com/ices-eg/SmartDots/files/9852551/Plaice.reference.collection.event.to.BIOP_WGSMART.docx)

[2022-10-28 06:26] wimallegaert commented on #265
To make it less confusing all functionalities will be disabled if the sample is marked as read-only:

- All buttons in toolbar (incl. scale, measure, …)
- All annotation functionalities except for the 'unapprove' button, the status of this button is set via a separate sample property

[2022-10-28 06:31] wimallegaert commented on #294
An extra link will be added in the Help menu to the vocab ices areas: [vocab.ices.dk/?ref=358](https://vocab.ices.dk/?ref=358)

[2022-10-28 06:45] wimallegaert commented on #291
When a coordinator checks the annotations of an event, the colour linked to the user should be the same for all his/her annotations in the selected event.

A key-value list will be kept in memory, in this list a colour is linked to a user.

- The base is a list with 30 colours
- Everytime a new user is detected, the user will be linked to the next colour.
- When the coordinator navigates from the

[2022-10-31 09:50] CindyvanDamme opened #300 "Add scale setting to maturity event"
Currently it is not possible as a coordinator to add a scale to images for a maturity event. As a maturity coordinator you do not need to have measurements in a maturity event. But from the feedback received participants wanted to be able to measure gonads and this was discussed as a possibility for the software. I guess we need the option then in the web application to add a scale to images.

[2022-11-04 08:56] wimallegaert opened #301 "Estimation of the development of a SmartDots training event module"
This issue is related to the issue https://github.com/ices-eg/SmartDots/issues/97

![image](https://user-images.githubusercontent.com/13795097/199941099-1d252637-ede9-40ca-bca6-818775f985c7.png)

[2022-11-04 09:40] wimallegaert commented on #97
Related to issue https://github.com/ices-eg/SmartDots/issues/301

[2022-11-15 08:56] cmspinto opened #302 "Maturity vocab"
The vocabulary of Maturity depends on the EventID, it's not the same for all the events.

[2022-11-15 09:01] cmspinto opened #303 "Approve and Unapprove"
When a user approve and unapprove an annotation (delegate or a organizer) then it does it for all annotations.

![image](https://user-images.githubusercontent.com/8705477/201876422-6206a7ce-4a6c-4d8b-a8ee-8fd35d49f4e8.png)

[2022-11-16 09:03] cmspinto commented on #303
Approved is now working fine, but the sex, maturity and QC are not working as expected after updating an annotation.

This could be difficult to debug, only a delegate can observe this bug, when a coordinator makes an annotations, the listed annotations in the software get the same values as the new annotations.  Have checked the API and is seemed to me that the API is working as expected, so need

[2022-11-17 15:07] kevinatilvo commented on #303
@cmspinto Bug discovered in the software that causes this problem. Thanks for documenting it.

[2022-11-17 15:13] #302 closed

[2022-11-17 15:28] kevinatilvo commented on #299
Preloading sounds nice on paper but a slow wifi connection will remain slow. Here are some thoughts about this feature to take into consideration with an example use case:

Assuming preloading happens per event...
Say 1 large image takes 8 seconds to load on a slow wifi connection.
The (maturity) event has 100 samples with each 3 large images. So the total is 300 large images.
It will take 1 user

[2022-11-18 12:47] colinpmillar opened #304 "Finalise Age Reading Report in TAF"
Tasks to be done:
- [x] @colinpmillar to modify suplied code so it runs from the ICES APIs and in the structure required by TAF.
- [ ] @colinpmillar to update README files on the report template repos to explain the use of configuration files in TAF.
- [ ] @colinpmillar to set up 2 half day workshops with report code developers to guide them
  - [ ] in the running of the reports from the ICES APIs

[2022-11-24 13:52] kbekaert opened #305 "Youtube channels"
Put link on ices youtube channel from SmartDots and vice versa.

[2022-11-24 13:55] kbekaert opened #306 "Create only one Smartdots Manual"
Create only one SmartDots manual. Should be called "How to annotate" Manual.

[2022-11-24 14:10] kbekaert opened #307 "Create only one WEBAPI manual for all biological parameters."
Create only one WEBAPI manual for all biological parameters. Should be called "How to run events" Manual

[2022-11-24 14:12] kbekaert opened #308 "We need uniform quality scores for all biological parameters in Smartdots (age, maturity, eggs and larvae)."
Development of generic quality scores.

[2022-11-24 14:14] kbekaert opened #309 "Fixed column width in Files table"
Is it possible to keep the user parameters like the width of the columns of the Files table in the API?

[2022-11-24 14:25] kbekaert opened #310 "Planning of training sessions for the new modules."

[2022-11-24 14:28] #208 closed

[2022-11-24 14:34] kbekaert opened #311 "Redo video tutorials"

[2022-11-24 14:41] JCoadDavies commented on #310
[Subgroup work 25th Oct.docx](https://github.com/ices-eg/SmartDots/files/10085448/Subgroup.work.25th.Oct.docx)

[2022-11-25 12:10] kbekaert opened #312 "feedback from maturity testing"

[2022-11-25 12:12] kbekaert commented on #312
[Feedback Test Maturity module.docx](https://github.com/ices-eg/SmartDots/files/10092638/Feedback.Test.Maturity.module.docx)

[2022-11-25 14:08] wimallegaert commented on #312
Feedback from ILVO ICT: [Feedback Test Maturity module.docx](https://github.com/ices-eg/SmartDots/files/10093368/Feedback.Test.Maturity.module.docx)

[2022-11-25 14:22] cmspinto commented on #312
That was a very good idea Wim,
I guess we will check this in the next WGSMART or should we touch base before?

Some of the issue are really simple.

[2022-11-28 09:54] JCoadDavies commented on #311
Notes on what needs updating in the YouTube tutorials were created during subgroup work at the 2 day meeting, attached
[WGSMART YouTube tutorials for event organisers and users_old vs new.docx](https://github.com/ices-eg/SmartDots/files/10102492/WGSMART.YouTube.tutorials.for.event.organisers.and.users_old.vs.new.docx)

[2022-11-28 10:16] JCoadDavies commented on #310
Subgroup work 25th Oct updated and renamed with comments

[Notes on planning for new training session 2023.docx](https://github.com/ices-eg/SmartDots/files/10102657/Notes.on.planning.for.new.training.session.2023.docx)

Plan is 29-30 March 2023 - 4 hrs each day
In preparation:
- Do we need a project deadline extension? maybe the training could be done in April instead of before the deadline.
- You

[2022-11-28 10:46] JCoadDavies opened #313 "WGSMART Guidelines for Image Quality in SmartDots exchanges"
In response to recommendations for an image taking workshop/seminar (to both WGBIOP and WGSMART) it was agreed that guidelines would be drafted to ensure image quality of samples in SmartDots it at the standard needed to ensure the users can give a reliable estimation of age/maturity...etc..

[2022-11-28 12:21] JCoadDavies commented on #313
Guidelines have been drafted but only for otolith image capture.
Sections are needed for maturity staging images and egg and larvae image capture

[WGSMART Guidelines for Image Quality in SmartDots exchanges V2.docx](https://github.com/ices-eg/SmartDots/files/10103598/WGSMART.Guidelines.for.Image.Quality.in.SmartDots.exchanges.V2.docx)